@page "/copyright"
@rendermode InteractiveWebAssembly
@inject NavigationManager Navigation


<PageTitle>Copyright</PageTitle>

<div class="header">
    <h1>Credits & Accreditation</h1>
    <p>Here’s a list of all the amazing resources I’ve used to build this project. Thanks to all the creators!</p>
</div>

<section class="credits-section">
    <h2>Images</h2>
    <ul class="credits-list">
        <li>
            <strong>Image Name:</strong> <a href="https://www.flaticon.com/free-icons/home" title="home icons">Home icons created by Freepik - Flaticon</a><br>
            <em>Description:</em> The home icon.
        </li>

        <li>
            <strong>Image Name:</strong> <a href="https://www.flaticon.com/free-icons/card-game" title="Card game icons">Card game icons created by Hilmy Abiyyu A. - Flaticon</a><br>
            <em>Description:</em> The planning poker icon.
        </li>

        <li>
            <strong>Image Name:</strong> <a href="https://www.flaticon.com/free-icons/copyright" title="copyright icons">Copyright icons created by Freepik - Flaticon</a><br>
            <em>Description:</em> The copyright icon.
        </li>

        <li>
            <strong>Image Name:</strong> <a href="https://www.flaticon.com/free-icons/lotto" title="lotto icons">Lotto icons created by Freepik - Flaticon</a><br>
            <em>Description:</em> The lotto icon.
        </li>
    </ul>
</section>


