<nav class="taskbar">
    <ul class="taskbar-icons">
        <li><a href=""><img src="home.png" alt="Home"></a></li>
        <li><a href="poker"><img src="card-game.png" alt="Planning Poker"></a></li>
        <li><a href="scrumlotto"><img src="lotto.png" alt="Scrum Lotto"></a></li> 
        <li><a href="copyright"><img src="copyright.png" alt="Copyright"></a></li> 
    </ul>
</nav>