
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="logo.png" alt="Logo" class="logo" width="100" height="100" />
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="poker">
                <span class="bi bi-suit-club-fill" aria-hidden="true"></span> Planning Poker
            </NavLink>
        </ul>
    </div>
</nav>
